{% extends "base.html" %}

{% block head_title %} Baza wiedzy - {{object.title}} {% endblock %}


{% block body_content %}
<h1>Baza wiedzy</h1>

<div class="post">
    <div class="post-nav" w3-include-html="{% url 'posts:list' %}">
    </div>
    <div class="post-detail">
        <h2>{{object.title}}</h2>
        <p class="tags">
            {% for obj in object.tags.all %}
                <span class="tag-name">{{ obj.name }}</span>
            {% endfor %}
        </p>
        <p>{{ object.content|linebreaks }}</p>
        <p class="author">autor: {{ object.author }} - {{ object.created_at|date }}</p>
        {% if object.editor %}
        <p class="author">edycja: {{ object.editor }} - {{ object.edited_at|date }}</p>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block body_js %}
<script>
    includeHTML()
</script>
{% endblock %}