{% extends "base.html" %}

{% block head_title %}Home{% endblock %}

{% block body_content %}

<h1>Witaj na stronie Pystartowo.pl :)</h1>

<p>Na naszej stronie znajdziesz odpowiedzi na nurtujące Cię pytania nasuwające się podczas realizacji kursu
  <a target="_blank" href="http://www.pystart.pl">"Pystart"</a> autorstwa <a target="_blank" href="http://www.sieradzinski.pl">Kacpra
    Sieradzińskiego</a>
</p>

<!-- TODO: brakuje linku do 'Do uzupełnienia' -->
<p>Jeśli nie znajdziesz odpowiedzi na Twoje pytanie - zadaj je w sekcji <a href="#">"Do uzupełnienia"</a> - postaramy
  się jak najszybciej na nie odpowiedzieć :)</p>

<p>Jeśli chcesz sam o czymś napisać - nie ma sprawy - <a href="{% url 'register' %}">zarejestruj się</a> i dodaj
  wartościową treść.</p>

<div class="copyright footer">
  <h2>Prawa autorskie</h2>
  <p>Stronę wykonano w oparciu o <a target="_blank"
      href="https://github.com/griceturrble/django-bootstrap-template/">Django Bootstap Template</a>
  </p>
  <p>Moduł logowania i rejestracji utworzono w oparciu o <a target="_blank" href="https://github.com/feldroy/django-crash-starter">Django Crash Starter</a></p>
  <p>Favicony pobrano z strony <a target="_blank" href="https://icons8.com">Icons8</a></p>
</div>

{% endblock %}

{% block body_js %}

{% endblock %}